# Ignore node_modules directory
node_modules

# Ignore build output
dist
build

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore Dockerfile and docker-compose.yml
Dockerfile
docker-compose.yml

# Ignore TypeScript build info files
*.tsbuildinfo

# Ignore any other files or directories you want to exclude from the Docker image
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db