.order-container {
  min-height: calc(100vh - 145px);

  .order-product {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 5px;

    .product-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      width: 70%;
      justify-content: flex-start;

      .image-container {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }

      img {
        max-width: 70px;
        max-height: 70px;
        object-fit: contain;
      }

      .title {
        flex: 1;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .price {
        min-width: 120px;
        text-align: right;
      }
    }

    .action {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 30%;
      justify-content: flex-end;

      .quantity {
        min-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        :global(.ant-input-number) {
          width: 60px;
          text-align: center;
          margin: 0 auto;
        }
      }

      .sum {
        min-width: 120px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
      }

      .anticon {
        flex-shrink: 0;
      }
    }
  }

  .order-product-empty {
    background: white;
    padding: 20px;
    border-radius: 5px;
    min-height: 400px;
  }

  .order-sum {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;

    .calculate {
      display: flex;
      justify-content: space-between;

      .sum-final {
        color: #fe3834;
        font-size: 22px;
        font-weight: 400;
      }
    }

    button {
      margin-top: 15px;
      background-color: #ee4d2d;
      color: #fff;
      border: 1px solid #ee4d2d;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
      cursor: pointer;
      border-radius: 3px;
      font-size: 16px;
      height: 40px;
      padding: 0 20px;

      &:hover {
        background-color: #e45b3f;
      }
    }

    .info,
    .method,
    .address {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .order-steps {
    background: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}
